openapi: 3.0.1
info:
  title: Gudusoft GspLive Web API
  description: Gudusoft GspLive Web API
  contact:
    name: gudusoft
    url: http://www.sqlparser.com/
  version: "1.0"
servers:
- url: https://api.gudusoft.com/gspLive_backend
tags:
- name: User Interface
  description: User Apis
- name: Sqlflow Generation Interface
  description: Sqlflow Generation Apis
- name: Job Interface
  description: Job Apis
paths:
  /user/generateSecretKey:
    post:
      tags:
      - User Interface
      summary: generate secret key
      description: generate secret key
      operationId: generateSecretKeyUsingPOST
      parameters:
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /user/generateToken:
    post:
      tags:
      - User Interface
      summary: generate token
      description: generate user token for restful api
      operationId: generateTokenUsingPOST
      parameters:
      - name: userId
        in: query
        description: the user id of sqlflow web or client
        required: true
        schema:
          type: string
      - name: secretKey
        in: query
        description: the secretKey of the user
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/deleteUserSchema:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: delete user schema
      description: delete user schema
      operationId: deleteUserSchemaUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: fileName
        in: query
        description: fileName
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/displayUserDbvendorSchema:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: display user dbvendor schema
      description: display user dbvendor schema
      operationId: displayUserDbvendorSchemaUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/displayUserSchemaSummary:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: display user schema summary
      description: display user schema summary
      operationId: displayUserSchemaSummaryUsingPOST
      parameters:
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/downstream:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: 'find downstream lineage '
      operationId: downstreamUsingPOST
      requestBody:
        description: vo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSearch'
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      x-codegen-request-body-name: vo
  /sqlflow/generation/sqlflow:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate sqlflow
      description: generate sqlflow model
      operationId: generateSqlflowUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: database vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: same as simpleOutput, but will keep output of the top level select
          list, default is false.
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: give the job Id if need to use the job settings and display the
          job graph
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: whether normalize the Identifier
        schema:
          type: boolean
          default: true
      - name: returnFullRelationship
        in: query
        description: whether return full data relationship
        schema:
          type: boolean
          default: false
      - name: showConstantTable
        in: query
        description: whether show constant table
        schema:
          type: boolean
          default: false
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: whether show transform
        schema:
          type: boolean
          default: false
      - name: sqltext
        in: query
        description: sql text from which to generate the sqlflow model
        schema:
          type: string
      - name: token
        in: query
        description: The token is only used when connecting to the SQLFlow Cloud server,
          is not used when connect to the SQLFlow on-premise version.
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: the user id of sqlflow web or client
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfile:
                  type: string
                  description: sql file from which to generate the sqlflow model
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
                example: 
                  code: 200
                  data:
                    dbvendor: dbvoracle
                    dbobjs:
                      - id: '8'
                        name: QUERY INSERT-1
                        type: process
                        coordinates:
                          - x: 1
                            'y': 1
                            hashCode: '0'
                          - x: 1
                            'y': 73
                            hashCode: '0'
                        queryHashId: 04ebc5aec1a07e1db80b0bc798742875
                      - id: '4'
                        name: RAW_CUSTOMERS
                        type: table
                        columns:
                          - id: '5'
                            name: ID
                            coordinates:
                              - x: 1
                                'y': 28
                                hashCode: '0'
                              - x: 1
                                'y': 30
                                hashCode: '0'
                          - id: '6'
                            name: FIRST_NAME
                            coordinates:
                              - x: 1
                                'y': 32
                                hashCode: '0'
                              - x: 1
                                'y': 42
                                hashCode: '0'
                          - id: '7'
                            name: LAST_NAME
                            coordinates:
                              - x: 1
                                'y': 44
                                hashCode: '0'
                              - x: 1
                                'y': 53
                                hashCode: '0'
                        coordinates:
                          - x: 1
                            'y': 13
                            hashCode: '0'
                          - x: 1
                            'y': 26
                            hashCode: '0'
                    relationships: []
                  sessionId: 527f2887da8bd7f5952840aa14cb05f357943aff3f5f02a6f1d7f914bca12971_1664807322126
                  
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/download/metadata_lineage:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: download sqlflow metadata and lineage
      description: download sqlflow metadata and lineage
      operationId: downloadMetadataLineageUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: delimiter
        in: query
        description: delimiter
        schema:
          type: string
          default: ','
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: sqltext
        in: query
        description: sql text
        schema:
          type: string
      - name: tableToTable
        in: query
        description: show table to table relation only
        schema:
          type: boolean
          default: false
        example: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfile:
                  type: string
                  description: sqlfile
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/downstreamGraph:
    get:
      tags:
      - Sqlflow Generation Interface
      summary: generate downstream Graph
      description: generate downstream Graph
      operationId: generateDownSteamGraphUsingGET
      parameters:
      - name: dbvendor
        in: query
        description: dbvendor
        schema:
          type: string
      - name: distance
        in: query
        description: distance
        schema:
          type: integer
          format: int32
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: isReturnModel
        in: query
        description: isReturnModel
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate downstream Graph
      description: generate downstream Graph
      operationId: generateDownSteamGraphUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: dbvendor
        schema:
          type: string
      - name: distance
        in: query
        description: distance
        schema:
          type: integer
          format: int32
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: isReturnModel
        in: query
        description: isReturnModel
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/exportLineageAsCsv:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: export sqlflow lineage as csv format
      description: export sqlflow lineage as csv format
      operationId: exportLineageAsCsvUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: delimiter
        in: query
        description: delimiter of the values in CSV, default would be ','
        schema:
          type: string
          default: ','
      - name: hideColumn
        in: query
        description: whether hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: whether ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: whether ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: job Id
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: whether normalize identifier
        schema:
          type: boolean
          default: true
      - name: showConstantTable
        in: query
        description: whether show constant table
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: whether show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: whether show transform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output, ignore the intermediate results, defualt is false.
        schema:
          type: boolean
          default: false
        example: false
      - name: sqltext
        in: query
        description: sql text
        schema:
          type: string
      - name: tableToTable
        in: query
        description: whether show table to table relation only. please set this to
          true if you just want to fetch table to table relations.
        schema:
          type: boolean
          default: false
        example: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfile:
                  type: string
                  description: sql file
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/getSelectedDbObjectInfo:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: get selected dbobject information
      description: get selected dbobject information
      operationId: getSelectedDbObjectInfoUsingPOST
      parameters:
      - name: coordinates
        in: query
        description: the json array string of selected dbobject coordinates
        required: true
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        required: true
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/graph:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate sqlflow graph
      description: generate sqlflow graph
      operationId: generateSqlflowGraphUsingPOST
      parameters:
      - name: columnLevel
        in: query
        description: columnLevel
        schema:
          type: string
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: sqltext
        in: query
        description: sql text
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfile:
                  type: string
                  description: sqlfile
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/graph/table_level_lineage:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate sqlflow table level lineage graph
      description: generate sqlflow table level lineage graph
      operationId: generateSqlflowTableLevelLineageGraphUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: ignoreSelfLineage
        in: query
        description: ignoreSelfLineage
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sqltext
        in: query
        description: sql text
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfile:
                  type: string
                  description: sqlfile
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/leftMostSourceTableGraph:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate left-most source table graph
      description: generate left-most source table graph
      operationId: generateLeftMostSourceTableGraphUsingPOST
      parameters:
      - name: columnLevel
        in: query
        description: columnLevel
        schema:
          type: string
      - name: dbvendor
        in: query
        description: dbvendor
        required: true
        schema:
          type: string
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: isReturnModel
        in: query
        description: isReturnModel
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sessionId
        in: query
        description: sessionId
        required: true
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/listTableColumns:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: list selected table columns
      description: list selected table columns
      operationId: generateSelectedDbObjectGraphUsingPOST
      parameters:
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: dbvendor
        in: query
        description: dbvendor
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        required: true
        schema:
          type: string
      - name: table
        in: query
        description: table
        required: true
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/selected_dbobject/download/metadata_lineage:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: download selected dbobject metadata and lineage
      description: download selected dbobject metadata and lineage
      operationId: downloadSelectedDbObjectMetadataLineageUsingPOST
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: delimiter
        in: query
        description: delimiter
        schema:
          type: string
          default: ','
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: table
        in: query
        description: table
        schema:
          type: string
      - name: tableToTable
        in: query
        description: show table to table relation only
        schema:
          type: boolean
          default: false
        example: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/selected_dbobject/exportLineageAsCsv:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: export selected dbobject lineage as csv format
      description: export selected dbobject lineage as csv format
      operationId: exportSelectedDbObjectLineageAsCsvUsingPOST
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: delimiter
        in: query
        description: delimiter
        schema:
          type: string
          default: ','
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: table
        in: query
        description: table
        schema:
          type: string
      - name: tableToTable
        in: query
        description: show table to table relation only
        schema:
          type: boolean
          default: false
        example: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/selectedgraph:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate selected dbobject graph
      description: generate selected dbobject graph
      operationId: generateSelectedDbObjectGraphUsingPOST_1
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: columnLevel
        in: query
        description: columnLevel
        schema:
          type: string
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: isReturnModel
        in: query
        description: whether to return model
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: table
        in: query
        description: table
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/selectedgraph/table_level_lineage:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate selected table level lineage graph
      description: generate selected table level lineage graph
      operationId: generateSelectedTableLevelLineageGraphUsingPOST
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: ignoreSelfLineage
        in: query
        description: ignoreSelfLineage
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: table
        in: query
        description: table
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/sqlflow/upstreamGraph:
    get:
      tags:
      - Sqlflow Generation Interface
      summary: generate upstream Graph
      description: generate upstream Graph
      operationId: generateUpSteamGraphUsingGET
      parameters:
      - name: dbvendor
        in: query
        description: dbvendor
        schema:
          type: string
      - name: distance
        in: query
        description: distance
        schema:
          type: integer
          format: int32
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: isReturnModel
        in: query
        description: isReturnModel
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
    post:
      tags:
      - Sqlflow Generation Interface
      summary: generate upstream Graph
      description: generate upstream Graph
      operationId: generateUpSteamGraphUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: dbvendor
        schema:
          type: string
      - name: distance
        in: query
        description: distance
        schema:
          type: integer
          format: int32
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: isReturnModel
        in: query
        description: isReturnModel
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: sessionId
        in: query
        description: sessionId
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/submitUserSchema:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: submit user schema
      description: submit user schema
      operationId: submitUserSchemaUsingPOST
      parameters:
      - name: dbvendor
        in: query
        description: db vendor
        required: true
        schema:
          type: string
          default: dbvoracle
          enum:
          - dbvazuresql
          - dbvbigquery
          - dbvcouchbase
          - dbvdb2
          - dbvgreenplum
          - dbvhana
          - dbvhive
          - dbvimpala
          - dbvinformix
          - dbvmdx
          - dbvmysql
          - dbvnetezza
          - dbvopenedge
          - dbvoracle
          - dbvpostgresql
          - dbvredshift
          - dbvsnowflake
          - dbvmssql
          - dbvsparksql
          - dbvsybase
          - dbvteradata
          - dbvvertica
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                sqlfiles:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/generation/upstream:
    post:
      tags:
      - Sqlflow Generation Interface
      summary: 'find upstream lineage '
      operationId: upstreamUsingPOST
      requestBody:
        description: vo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamSearch'
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
      x-codegen-request-body-name: vo
  /sqlflow/job/deleteUserJob:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: delete user job
      description: delete user job
      operationId: deleteUserJobUsingPOST
      parameters:
      - name: jobId
        in: query
        description: job id
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayMetadataQueryGraph:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user job database metadata query graph
      description: display user job database metadata query graph
      operationId: displayMetadataQueryGraphUsingPOST
      parameters:
      - name: database
        in: query
        description: database
        required: true
        schema:
          type: string
      - name: hideColumn
        in: query
        description: hideColumn
        schema:
          type: boolean
          default: false
      - name: ignoreFunction
        in: query
        description: ignoreFunction
        schema:
          type: boolean
          default: false
      - name: ignoreRecordSet
        in: query
        description: ignoreRecordSet
        schema:
          type: boolean
          default: false
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: name
        in: query
        description: name
        required: true
        schema:
          type: string
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: schema
        in: query
        description: schema
        required: true
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: showLinkOnly
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        schema:
          type: string
          default: fdd
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simpleOutput
        schema:
          type: boolean
          default: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayMetadataQuerySource:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user job database metadata query source
      description: display user job database metadata query source
      operationId: displayMetadataQuerySourceUsingPOST
      parameters:
      - name: database
        in: query
        description: database
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: name
        in: query
        description: name
        required: true
        schema:
          type: string
      - name: schema
        in: query
        description: schema
        required: true
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserJobGraph:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user job graph
      description: display user job graph
      operationId: displayUserJobGraphUsingPOST
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: containGraphML
        in: query
        description: containGraphML
        schema:
          type: boolean
          default: false
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: isReturnModel
        in: query
        description: whether to return model
        schema:
          type: boolean
          default: true
      - name: jobId
        in: query
        description: job id
        schema:
          type: string
      - name: schema
        in: query
        description: schema
        schema:
          type: string
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: table
        in: query
        description: table
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserJobSummary:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display specify user job summary
      description: display specify user job summary
      operationId: displayUserJobSummaryUsingPOST
      parameters:
      - name: jobId
        in: query
        description: job id
        schema:
          type: string
      - name: jobName
        in: query
        description: job name
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserJobsSummary:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user jobs summary
      description: display user jobs summary
      operationId: displayUserJobsSummaryUsingPOST
      parameters:
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserLatestJobGraph:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user latest job graph
      description: display user latest job graph
      operationId: displayUserLatestJobGraphUsingPOST
      parameters:
      - name: containGraphML
        in: query
        description: containGraphML
        schema:
          type: boolean
          default: false
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: isReturnModel
        in: query
        description: whether to return model
        schema:
          type: boolean
          default: true
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserLatestJobLeftMostTable:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user latest job left-most source table graph
      description: display user latest job left-most source table graph
      operationId: displayUserLatestJobLeftMostTableUsingPOST
      parameters:
      - name: hideColumn
        in: query
        description: hide column
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreFunction
        in: query
        description: ignore function
        schema:
          type: boolean
          default: false
        example: false
      - name: ignoreRecordSet
        in: query
        description: ignore record set
        schema:
          type: boolean
          default: false
        example: false
      - name: isReturnModel
        in: query
        description: whether to return model
        schema:
          type: boolean
          default: true
      - name: normalizeIdentifier
        in: query
        description: normalizeIdentifier
        schema:
          type: boolean
          default: true
      - name: showConstantTable
        in: query
        description: showConstantTable
        schema:
          type: boolean
          default: false
      - name: showLinkOnly
        in: query
        description: show link only
        schema:
          type: boolean
          default: true
      - name: showRelationType
        in: query
        description: show relation type, required false, default value is 'fdd', multiple
          values seperated by comma like fdd,frd,fdr,join. Availables are 'fdd' value
          of target column from source column, 'frd' the recordset count of target
          column which is affect by value of source column, 'fdr' value of target
          column which is affected by the recordset count of source column, 'join'
          combines rows from two or more tables, based on a related column between
          them
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: showTransform
        in: query
        description: showTransform
        schema:
          type: boolean
          default: false
      - name: simpleOutput
        in: query
        description: simple output
        schema:
          type: boolean
          default: false
        example: false
      - name: tableColumn
        in: query
        description: tableColumn
        schema:
          type: string
      - name: tableNamePattern
        in: query
        description: tableNamePattern
        schema:
          type: string
          default: .*
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: treatArgumentsInCountFunctionAsDirectDataflow
        in: query
        description: Whether treat the arguments in COUNT function as direct Dataflow
        schema:
          type: boolean
          default: false
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/displayUserLatestJobTableLevelLineage:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: display user latest job table level lineage
      description: display user latest job table level lineage
      operationId: displayUserLatestJobTableLevelLineageUsingPOST
      parameters:
      - name: ignoreSelfLineage
        in: query
        description: ignoreSelfLineage
        schema:
          type: boolean
          default: true
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/download/parquet:
    get:
      tags:
      - Sqlflow User Job Interface
      summary: download parquet file
      description: download parquet file
      operationId: downloadParquetUsingGET
      parameters:
      - name: batchId
        in: query
        description: batchId
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: jobName
        in: query
        description: jobName
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/download/subJobFile:
    get:
      tags:
      - Sqlflow User Job Interface
      summary: download subjob file
      description: download subjob file
      operationId: downloadSubJobFileUsingGET
      parameters:
      - name: batchId
        in: query
        description: batchId
        required: true
        schema:
          type: string
      - name: fileName
        in: query
        description: fileName
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: jobName
        in: query
        description: jobName
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/exportDatabaseMetadata:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: export user job database metadata
      description: export user job database metadata
      operationId: exportDatabaseMetadataUsingPOST
      parameters:
      - name: displayQuerySource
        in: query
        description: display query source
        schema:
          type: boolean
          default: false
        example: false
      - name: jobId
        in: query
        description: job id
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: user id
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/exportFullLineageAsCsv:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: export sqlflow full lineage as csv format
      description: export full sqlflow lineage as csv format
      operationId: exportFullLineageAsCsvUsingPOST
      parameters:
      - name: delimiter
        in: query
        description: delimiter
        schema:
          type: string
          default: ','
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: tableToTable
        in: query
        description: tableToTable
        schema:
          type: boolean
          default: false
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/exportFullLineageAsJson:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: export sqlflow full lineage as json format
      description: export full sqlflow lineage as csv format
      operationId: exportFullLineageAsJsonUsingPOST
      parameters:
      - name: jobId
        in: query
        description: jobId
        schema:
          type: string
      - name: token
        in: query
        description: token
        schema:
          type: string
      - name: userId
        in: query
        description: userId
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json;charset=utf-8:
              schema:
                type: string
        201:
          description: Created
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      deprecated: false
  /sqlflow/job/exportLineageAsCsv:
    post:
      tags:
      - Sqlflow User Job Interface
      summary: export sqlflow lineage as csv format
      description: export sqlflow lineage as csv format
      operationId: exportLineageAsCsvUsingPOST_1
      parameters:
      - name: column
        in: query
        description: column
        schema:
          type: string
      - name: database
        in: query
        description: database
        schema:
          type: string
      - name: delimiter
        in: query
        description: delimiter
        schema:
          type: string
          default: ','
      - name: ignoreFunction
        in: query
[...]
